body{
    text-align: center;
    background-color: #ddd;
	font-size:  x-large;
	font-family: arial,sans-serif;
}
table{
	width: 100%;
}
table, td, th{
    border-collapse: collapse;
    margin:	auto;
}
thead{
    border: 1px solid #000;
}
td, th{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
tr td:last-child{
    width:1%;
    white-space:nowrap;
}
input,select{
	font-size: x-large;
}
h3{
	margin: 10px;
	display: inline;
}
.titlemargin{
	margin: 30px;
}
tbody tr:nth-child(odd) {
    background-color: #afafaf;
}
.code.ng-invalid{
    border: 3px solid #f51010;
}
.code.ng-valid{
    border: 3px solid #4ee61c;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.red {
    color: red;
}