<!DOCTYPE html>
<html>
<head>
    <title>toBike city stations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link href="css/common.css" rel='stylesheet' type='text/css'>
    <script src="js/common.js"></script>
</head>
<body ng-app="bike">
    <div ng-controller="tableData as td">
        <p>Select a city from the form</p>
        <form ng-submit="td.submit()" name="codeForm">
            <!--<input type="number" min="0" ng-model="td.code" name="code" class="code" placeholder="Enter your city" required />-->
            <select ng-model="td.citySelect"
                    ng-options="row.value as row.city for row in td.cityList | orderBy: '-city'"></select>
            <input type="submit" value="Submit" ng-disabled="codeForm.$invalid" />
        </form>
        <div ng-show="td.citySelect" class="titlemargin">
            <h3>City code: {{td.citySelect}}</h3>
        </div>
            <span class="glyphicons glyphicons-bicycle"></span>
        <div ng-show="td.citySelect != -1">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th><img src="/media/glyphicons-307-bicycle.png"/></th>
                        <th><img src="/media/glyphicons-650-bike-park.png"/></th>
                        <th><img src="/media/glyphicons-200-ban-circle.png"/></th>
                        <th>Map</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in td.data | orderBy:'+name'">
                        <td>{{row.name}}</td>
                        <td class="green">{{row.bikes}}</td>
                        <td class="blue">{{row.empty}}</td>
                        <td class="red">{{row.blocked}}</td>
                        <td><a href="/"><img src="/media/glyphicons-503-map.png" /></a></td>
                        <td>{{row.location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>